*{
	background-color: #eeeeee;
	line-height: 30px;
}
form{
	width: 80%;
	margin: auto;
}
h2{
	color: tomato;
	text-align: center;
}
input[type="text"],
input[type="number"],
input[type="email"]{
	width: 100%;
	outline: none;
	border: 3px solid #ccc;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus{
	border: 3px solid #B2DFDB;
}
select{
	width: 30%;
}
textarea{
	width: 100%;
	outline: none;
	border: 3px solid #ccc;
}
textarea:focus{
	border: 3px solid #B2DFDB;
}
input[type=radio]:checked+label{
	color: red;
	font-weight: bold;
}
input[type=checkbox]:enabled+label{
	color:#607D8B;
	font-style: italic;
}
input[type=checkbox]:checked+label{
	color:#f00;
	font-style: normal;
}
input[type=checkbox]:disabled+label{
	color:#aaa;
}
.class_selector{
	column-count: 3;
}
li:first-child{
	background-color: yellow;
}
li:last-child{
	background-color: #00bcd4;
}
li:nth-child(5){
	background-color: #009688;
}
