nav{		
	float: right;
	
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
input{
	border-radius: 50px;
	line-height: 50px;
	width: 50%;
}
.clear{
	clear: both;
}
.logo{
	margin-top:150px;
	margin-left: 450px; 
			
}
.searchlogo{
	margin-left: 90px;
}
.btn{
	margin-left: 530px;
	padding: 10px;
}
button{
	border: none;
	background-color: silver;
	width: 150px;
}

button:hover{
	border:1px solid gray;
}

.myanmar{
	background-color: #ccc;
	margin-top:70px;
	padding: 20px;
	border: 1px solid #ccc;
}
footer{
	background-color: #ccc;
	height:25px;
	margin-top: 5px;
	padding: 20px; 
	border: 1px solid #ccc;
}
.float_left{
	float: left;
}
.float_right{
	float: right;
}